body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Ubuntu", sans-serif;
  background-color: darkolivegreen;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 60%;
  padding-bottom: 37.5%;
  vertical-align: middle;
  overflow: auto;
  background-color: wheat;
  border-radius: 10px;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

header {
  text-align: center;
}

.text {
  font-size: 15px;
}

#legend {
  font-size: 15px;
}

footer {
  margin: 0%;
  text-align: center;
}

footer p {
  font-size: 18px;
}

footer p a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
